.advantages {
  .width-mob();
  overflow: hidden;
  padding-top: 40px;
  text-align: center;
}

.advantages__statement {
  margin: 0;
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;

}

.advantages__list {
  .reset-list();
  padding-top: 48px;
  background-color: @bg-light;
}

.advantages__item {
  &--phone {
    padding-top: 60px;
  }
}

.advantages__caption {
  margin: 0;
  margin-bottom: 13px;
  line-height: 24px;
  font-weight: 600px;
}

.advantages__paragraph {
  font-size: 14px;
  line-height: 24px;
  margin: 0 24px;
  margin-bottom: 30px;
}

.advantages__img {
  margin-bottom: -46px;
}
