.advantages {
  font-family: "Open Sans", Arial, sans-serif;
}

.advantages__statement {
  font-size: 24px;
  font-weight: 300;
  color: @text;
}

.advantages__list {
  margin: 0;
  padding-top: 20px;
  list-style: none;
  background-color: @bg-light;
}

.advantages__item {
  color: @text;
  &--phone {
    padding-top: 60px;
  }
}

.advantages__caption {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600px;
}

.advantages__paragraph {
  font-size: 14px;
}


