.advantages {
  overflow: hidden;
  text-align: center;
  width: auto;
}

.advantages__wrapper {
  padding-top: 40px;
}

.advantages__statement-wrapper {
  .width-mob();
  background-color: #ffffff;
}

.advantages__statement {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.advantages__list-wrapper {
  width: auto;
  padding-top: 83px;
  background-color: @bg-light;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -62px;
  background-size: 101% auto;
  background-position: 50% 0;
}

.advantages__list {
  .reset-list();
  .width-mob();
}

.advantages__item {
  &--phone {
    padding-top: 4px;
    order: 0;
  }
}

.advantages__item-image {
  display: none;
}

.advantages__caption {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
}

.advantages__paragraph {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.advantages__img-mob {
  margin-bottom: -46px;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: auto;
    padding-top: 49px;
  }

  .advantages__statement-wrapper {
    width: auto;
  }

  .advantages__statement {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    &--answer {
    width: 408px;
    margin: 0 auto;
    margin-bottom: 46px;
    }
  }

  .advantages__list-wrapper {
    background-position: 0px -42px;
    padding-top: 58px;
  }

  .advantages__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 620px;
    min-height: 406px;
    padding-top: 0;
    padding-bottom: 21px;
    background-position: 0 -42px;
  }

  .advantages__list::before {
    position: absolute;
    content: "";
    width: 268px;
    height: 481px;
    left: 0;
    top: -53px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 25% 0;
    background-size: 268px auto;
  }

  .advantages__item {
    width: 310px;
    text-align: left;
    &--phone {
      display: none;
    }
  }

  .advantages__paragraph {
    margin: 0;
  }

  .advantages__img-mob {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-top: 0;
  }

  .advantages__wrapper {
    padding-top: 66px;
  }

  .advantages__statement-wrapper {
    padding-bottom: 30px;
  }

  .advantages__statement {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__list-wrapper {
    background-position: 0 0;
    padding-top: 0;
  }


  .advantages__list::before {
    display: none;
  }

  .advantages__list {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  .advantages__item {
    width: 240px;
    text-align: center;
  }

  .advantages__caption {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .advantages__paragraph {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__item-image {
    display: block;
    width: 100%;
    height: 301px;
    position: relative;
    margin-bottom: 56px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 292px auto;
    &--black-white {
      background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    }
    &--pink {
      background-image: url("../../img/iphone-screen-2-desktop@1x.png");
    }
    &--smiley {
      background-image: url("../../img/iphone-screen-3-desktop@1x.png");
    }
  }
}
