.contacts {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 42px 50px;
  text-align: center;
}

.contacts__questions {
  margin: 0;
  margin-bottom: 35px;
  color: @bg;
}

.contacts__request {
  margin: 0;
  margin-bottom: 12px;
  line-height: 0;
  font-size: 18px;
  font-weight: 600;
}

.contacts__info {
  display: inline-block;
  margin-bottom: 28px;
  text-decoration: none;
  color: @pink;
}
