.download {
  .width-mob();
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 33px;
  background-color: #1d2631;
}

.download__button {
  color: #ffffff;
  text-decoration: none;
}

.download__apps-wrapper {
  display: flex;
  justify-content: space-around;
}

.download__availability {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
