.download {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 33px;
  background-color: #1d2631;
}

.download__button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.download__apps-wrapper {
  display: flex;
  //align-items: baseline;
}

download__availability {
  line-height: 24px;
  display: inline-block;
}
