.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ffffff;
  }

  .effect__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .width-tab();
    min-height: 234px;
    padding: 98px 0;
    background-image: url("../../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 239px auto;
    background-position: 20px 61px;
  }

  .effect__info {
    width: 310px;
    text-align: left;
  }

  .effect__caption {
    font-size: 30px;
    line-height: 35px;
    width: 160px;
  }

  .effect__paragraph {
    margin-bottom: 8px;
  }

  .effect__more {
    margin: 0;
    font-size: 14px;
    color: @pink;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    background-color: @bg-light;
  }

  .effect__wrapper {
  width: 960px;
  padding: 0;
  background-size: 300px auto;
  background-position: 10px 44px;
  }

  .effect__info {
    width: 585px;
    padding-top: 135px;
    padding-bottom: 113px;
    padding-left: 365px;
  }

  .effect__caption {
    width: auto;
  }

  .effect__paragraph {
    margin-bottom: 32px;
  }

  .effect__more {
    font-size: 18px;
  }
}
