.form__wrapper-color {
  box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 11px;
  min-height: 337px;
  background-color: @bg-light;
}

.form__fieldset {
  .fieldset();
  .width-mob();
  padding: 28px 0 25px;
}

.form__input-list {
  .reset-list();
}

.form__input-item {
  display: flex;
  flex-direction: column;
}

.form__input-label {
  padding-left: 23px;
  .pink-caption();
}

.form__input {
  margin-top: 6px;
  margin-bottom: 18px;
  padding: 19px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  font-size: 18px;
  color: @text;
  outline: none;
  flex-grow: 1;
  &:hover {
    border: 2px solid @text;
  }
  &:focus {
    border: 2px solid @pink;
  }
}

.form__item-checkbox {
  padding-top: 43px;
  &:first-child {
    padding-top: 17px;
  }
  &--apps {
    padding-top: 36px;
  }
}

.form__checkbox-indicator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 31px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  &--radio {
    margin-right: 20px;
    background-image: none;
    border-radius: 50%;
  }
  &:hover {
    border-color: @text;
  }
  &:active {
    border-color: @pink;
  }
}

.form__checkbox:checked + .form__checkbox-indicator {
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center 7px;
}

.form__radio:checked + .form__checkbox-indicator::before {
  content: " ";
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 31px;
  border-radius: 50%;
  background-color: @pink;
  left: 10px;
  top: 10px;
}

.form__legend {
  .pink-caption();
  padding: 0 25px;
  text-align: center;
  line-height: 18px;
}

.form__required span {
  .pink-caption();
}

.form__list {
  .reset-list();
}

.form__required {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  &--added {
    display: none;
  }
}

.form__textarea {
  margin-top: 30px;
  width: 82%;
  border: 2px solid #e5e5e5;
  font-size: 18px;
  padding: 19px;
  border-radius: 2px;
}

.form__send {
  .width-mob();
}

.form__button {
  width: 100%;
  padding: 20px;
  background-color: @green;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline-color: #1c9b5e;
  outline-width: 0.5px;
  &:hover {
    background-color: #1c9b5e;
  }
  &:active {
    background-color: #1c9b5e;
    color: #61b98f;
  }
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .visually-hidden.form__legend {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
  }

  .form__fieldset {
    width: 620px;
    border: 2px solid #e5e5e5;
    padding-bottom: 52px;
    &--checklist {
      background-color: #ffffff;
      padding-bottom: 48px;
      margin-bottom: 44px;
    }
    &--name {
      padding: 0;
      padding-top: 24px;
      border: none;
      order: -3;
    }
    &--apps {
      order: -2;
      margin-bottom: 0;
    }
    &--contacts {
      margin-bottom: 44px;
      padding-bottom: 0;
      order: -1;
      flex-direction: column;
    }
    &--textarea {
      box-sizing: border-box;
      padding: 35px 58px;
      padding-bottom: 48px;
      margin-bottom: 69px;
    }
  }

  .form__fieldset--contacts .form__input-label {
    flex-direction: column;
  }

  .form__wrapper-color {
    background-color: #ffffff;
    padding-top: 13px;
    &--apps {
      order: -2;
      margin-bottom: 38px;
    }
  }

  .form__list {
    padding: 0 58px;
  }

  .form__input-list {
    width: auto;
    &--contacts {
      padding: 0 58px;
    }
  }

  .form__input-item {
    &--name {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 26px;
    }
  }

  .form__input-label {
    width: auto;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
    &--name {
      padding-left: 0;
    }
    &--tel {
      order: 2;
    }
    &--email {
      order: 2;
      margin-bottom: 28px;
    }
  }

  .form__input {
    margin-left: 20px;
    flex-grow: 1;
    &--contacts {
      margin-left: 0;
      margin-top: 8px;
      margin-bottom: 11px;
    }
  }

  .form__checkbox-indicator {
    margin-right: 22px;
  }

  .form__textarea {
    box-sizing: border-box;
    min-height: 188px;
    width: 500px;
    margin: 0 auto;
  }

  .form__send {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 34px;
  }

  .form__button {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 940px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__fieldset {
    width: 940px;
    &--name {
      padding-top: 0;
      margin: 0;
      width: 434px;
    }
    &--apps {
      margin-right: 0;
      margin-bottom: 0;
      width: 434px;
    }
    &--contacts {
      padding-top: 27px;
    }

    &--progress {
      box-sizing: border-box;
      padding-bottom: 24px;
      padding-left: 58px;
      margin-bottom: 0;
    }
    &--textarea {
      padding: 33px 58px;
    }
  }

  .form__wrapper-color {
    padding: 0;
    min-height: 232px;
    margin-bottom: 60px;
    &--apps {
      margin-bottom: 23px;
    }
  }

  .form__input {
    margin-bottom: 22px;
  }

  .form__input--contacts {
    flex-grow: 0;
    margin-bottom: 10px;
  }

  .form__input-list--contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__input-item {
    &--name {
      margin-bottom: 24px;
    }
    &--contacts {
      flex-basis: 375px;
    }
  }

  .form__input-label {
    &--tel {
      order: 1;
    }
    &--email {
      order: 2;
    }
  }

  .form__list {
    padding: 0px 75px;
    &--progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0;
    }
  }

  .form__item-checkbox {
    padding-top: 17px;
    padding-bottom: 26px;
    width: 264px;
    &--apps {
      padding-top: 36px;
      padding-bottom: 0;
    }
    &:nth-child(2) {
      order: 1;
    }
     &:nth-child(4) {
      order: 2;
    }
     &:nth-child(6) {
      order: 3;
    }
  }

  .form__textarea {
    width: 780px;
    min-height: 86px;
  }

  .form__send {
    width: 940px;
  }

  .form__required--added {
    display: inline;
    color: @text;
  }
}
