.gallery {
  .width-mob();
  font-size: 14px;
  line-height: 24px;
}

.gallery__description {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 18px 19px 20px;
  background-color: @bg-light;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  &--best {
    padding-bottom: 51px;
  }
}

.gallery__favorite {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 19px;
  background-color: @pink;
}

.gallery__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  display: block;
  font-style: normal;
  font-weight: 600;
}

.gallery__time {
  font-family: "Open Sans Light", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #949aa1;
}

.gallery__text {
  margin: 0;
  margin-bottom: 10px;
  min-width: 243px;
}

.gallery__photo-link {
  display: inline-block;
}

.gallery__image {
  max-width: 320px;
  height: auto;
  vertical-align: middle;
}

.gallery__like {
  position: relative;
  cursor: pointer;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: @pink;
  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    right: 0;
    top: 4px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.gallery__like-symbol {
  cursor: pointer;
  fill: @pink;
  margin-top: auto;
  margin-bottom: 7px;
  &:hover {
    stroke: @pink;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    width: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__favorite {
    top: 56px;
    right: 41px;
  }

  .gallery__wrapper {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }

  .gallery__item {
    flex-basis: 300px;
    &--best {
      flex-basis: auto;
      margin: 0 auto;
    }
  }

  .gallery__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 24px;
    padding-left: 29px;
    padding-right: 29px;
    min-height: 155px;
    &--best {
      width: 620px;
      min-height: 121px;
      box-sizing: border-box;
    }
  }

  .gallery__author-name {
    order: -3;
  }

  .gallery__text {
    margin-bottom: 0;
  }

  .gallery__image {
    max-width: 100%;
    height: 300px;
    &--favorite {
      width: auto;
      height: auto;
    }
  }

  .gallery__like {
    margin-top: auto;
    margin-left: 0;
    &--best {
      order: -2;
      margin-top: 0;
      margin-left: auto;
      margin-right: 17px;
    }
  }

  .gallery__like-symbol {
    order: 1;
    &--best {
      order: -1;
      margin: 0;
      margin-top: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery__wrapper {
    width: 940px;
  }

  .gallery__image {
    height: 400px;
    &--favorite {
      width: 100%;
      height: auto;
    }
  }

  .gallery__favorite {
    right: 131px;
  }


  .gallery__item {
    &--best {
      flex-basis: 100%;
    }
    padding-bottom: 54px;
  }

  .gallery__photo-link {
    &--best {
      width: 100%;
    }
  }

  .gallery__description {
    &--best {
      width: 940px;
      min-height: 93px;
    }
  }

  .gallery__like {
    &--best {
      margin-left: auto;
      margin-right: 15px;
    }
  }
}
