.main-nav {
  background-color: @text;
  min-height: 65px;
  &--closed {
  background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__logo-wrapper {
  .width-mob();
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  border-bottom: 1px solid #010101;
}

.main-nav--closed .main-nav__logo-wrapper {
  border: none;
}

.main-nav--closed .main-nav__list-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    min-height: 110px;
  }

  .main-nav__logo-wrapper {
    .width-tab();
    padding: 40px 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: auto;
  }

  .main-nav__wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo-wrapper {
    margin: 0;
    width: 283px;

  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__list-wrapper{
    display: flex;
  }
}
