.map {
  position: relative;
  width: auto;
  margin: 0;

  &::before {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: @pink;
    border: 11px solid #ffffff;
    border-radius: 50%;
    top: 43.5%;
    left: 50%;
    margin-left: -19px;
  }
}

.map__bg-triangle {
  width: 100%;
  height: auto;
  fill: #ffffff;
  position: absolute;
  top: -7px;
}

.map__iframe {
  max-width: 100%;
  max-height: 199px;
  border: none;
}

.map__img {
  display: none;
}

@media (min-width: @tablet-width) {
  .map {
    &::before {
      top: 50.5%;
    }
  }

  .map__iframe {
    width: 100%;
    max-height: 378px;
  }

  .map__bg-triangle {
    top: -13px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin-top: -45px;

    &::before {
      top: 61.5%;
    }
  }

  .map__iframe {
    max-height: 504px;
  }

  .map__bg-triangle {
    top: -14px;
  }
}
