.my-photo {
  .width-mob();
  .font();
  background-color: @bg-light;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.my-photo__post {
  text-decoration: none;
  color: @pink;
  &--cancel {
  text-decoration: none;
  color: #dddfe0;
  }
}
