.my-photo {
  display: flex;
  flex-direction: column;
  background-color: @bg-light;
  font-weight: 600;
}

.my-photo__wrapper {
  .width-mob();
}

.my-photo__tools {
  display: flex;
  flex-direction: column;
}

.my-photo__tools-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 23px;
  min-height: 173px;
}

.my-photo__tool {
  cursor: pointer;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  &--crop {
    margin-left: 36px;
  }
  &--fill {
    margin: 0 auto;
  }
  &--contrast {
    margin-right: 38px;
  }
}

.my-photo__tool-img {
  fill: #b5b9be;
  height: auto;
  &--crop {
    width: 47px;
    margin-left: auto;
  }
  &--fill {
    width: 53px;
  }
  &--contrast {
    margin-right: auto;
  }
}

.my-photo__tool:hover .my-photo__tool-img {
  fill: #8d949b;
}

.my-photo__tool:active .my-photo__tool-img {
  fill: @pink;
}

.my-photo__tool--active .my-photo__tool-img {
  fill: @pink;
}

.my-photo__post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 120px;
  padding-top: 6px;
  padding-bottom: 42px;
}

.my-photo__post-button {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  display: inline-block;
  border: 3px solid @pink;
  border-radius: 30px;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  color: @pink;
  &:hover {
    background-color: @pink;
    color: #ffffff;
  }
  &:active {
    color: #e06989;
  }
}
.my-photo__post-button--cancel {
  color: #dddfe0;
  border-color: #dddfe0;
  &:hover {
    background-color: #ffffff;
    border-color: #b5b9be;
    color: #b5b9be;
  }
  &:active {
    background-color: #b5b9be;
    color: #cbced2;
  }
}

.my-photo__image {
  vertical-align: middle;
  margin-top: 20px;
}

.my-photo__scale {
  position: relative;
  width: 241px;
  padding-bottom: 48px;
  order: 1;
  &::after {
    content: " ";
    position: absolute;
    width: 320px;
    height: 1px;
    top: 36px;
    left: -40px;
    background-color: #dddfe0;
  }
  &--added {
    display: none;
  }
}

.my-photo__bar {
  width: 100%;
  height: 2px;
  background-color: @text;
}

.my-photo__range-toggle {
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border: 2px solid @pink;
  border-radius: 50%;
  background-color: #f2f2f2;
  top: -6px;
  left: 193px;
  &--fill {
    left: 24px;
  }
  &--contrast {
    left: 95px;
  }
  &:hover {
    background-color: @pink;
  }
}

@media (min-width: @tablet-width) {
  .my-photo {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .my-photo__wrapper {
    display: flex;
    width: 620px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 55px;
  }

  .my-photo__image {
    margin: 0;
    margin-right: 45px;
  }

  .my-photo__tools {
    flex-direction: column;
    flex-basis: 262px;
    justify-content: space-between;
  }

  .my-photo__tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-right: 5px;
    padding-top: 7px;
  }

  .my-photo__tool {
    width: 28px;
    height: 31px;
    margin: 0;
    &--fill {
      margin-top: 10px;
    }
  }

  .my-photo__tool-img {
    fill: @pink;
    &--crop {
      width: 24px;
    }
    &--fill {
      width: 25px;
    }
    &--contrast {
      width: 16px;
    }
  }

  .my-photo__tool:hover .my-photo__tool-img {
    fill: @pink-active;
  }

  .my-photo__scale {
    width: 203px;
    margin-bottom: 0;
    padding-bottom: 0;
    align-self: center;
    order: 0;
    &::after {
      width: 275px;
      left: -54px;
    }
    &--added {
      display: block;
    }
  }

  .my-photo__range-toggle {
    &--crop {
      left: 147px;
    }
  }

  .my-photo__post {
    padding: 0;
    min-height: 131px;
  }
}

@media (min-width: @desktop-width) {
  .my-photo {
    width: 940px;
    margin: 0 auto;
  }

  .my-photo__wrapper {
    width: 800px;
    justify-content: space-between;
  }

  .my-photo__image {
    margin: 0 10px;
  }

  .my-photo__tools-list {
    padding-top: 0;
    padding-right: 21px;
    min-height: 185px;
  }

  .my-photo__tools {
    flex-basis: 410px;
  }

  .my-photo__tool {
    width: 62px;
    height: 45px;
    &--crop {
      margin-top: -3px;
    }
  }

  .my-photo__tool-img {
    &--crop {
      width: 45px;
    }
    &--fill {
      width: 54px;
    }
    &--contrast {
      width: 32px;
    }
  }

  .my-photo__scale {
    width: 288px;
    &::after {
      width: 411px;
      left: -93px;
    }
  }

  .my-photo__range-toggle {
    &--crop {
      left: 71px;
    }
    &--fill {
      left: 247px;
    }
    &--contrast {
      left: 160px;
    }
  }

  .my-photo__post {
    flex-direction: row;
    min-height: 0;
  }

  .my-photo__post-button {
    box-sizing: border-box;
    min-width: 183px;
  }
}
