.page-header {
  .width-mob();
  background-color: @text;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-bottom: 1px solid #010101;
}

@media (min-width: @tablet-width) {
  .page-header {
    .width-tab();
  }
}
