.page-footer {
  .width-mob();
  font-size: 14px;
  padding: 41px 0;

  &--index {
    display: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo-svg {
  fill: @text;

  &--desk {
    display: none;
  }
}

.page-footer__logo:hover .page-footer__logo-svg {
  fill: @pink;
}

.page-footer__logo:active .page-footer__logo-svg {
  fill: @pink-active;
}

.page-footer__created-by {
  position: relative;
  margin: 0;
  margin-right: 44px;
  padding: 14px 24px;
  padding-bottom: 5px;
}

.page-footer__academy-icon {
  position: absolute;
  fill: @pink;
  width: 41px;
  height: auto;
  right: -25px;
  top: 5px;

  &:hover {
    fill: @text;
  }

  &:active {
    fill: #bec2c7;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: auto;
    padding: 0;
    padding-bottom: 13px;

    &--index {
      display: block;
    }
  }

  .page-footer__wrapper {
    margin: 0 auto;
    padding: 31px 0;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer__logo-svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: -26px;

    &--desk {
      display: none;
    }
  }

  .page-footer__created-by {
    margin-right: 41px;
    margin-left: 19px;
    margin-top: -7px;
    padding: 0;
  }

  .page-footer__academy-icon {
    right: -49px;
    top: -9px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 0;
    font-size: 18px;
  }

  .page-footer__wrapper {
    width: 940px;
    padding: 66px 0;

    &--photo {
      padding: 100px 0;
    }

    &--form {
      padding: 48px 0;
    }
  }

  .page-footer__logo-svg {
    display: none;

    &--desk {
      display: block;
      margin-top: -24px;
    }
  }

  .page-footer__created-by {
    margin-left: 0;
  }

  .page-footer__academy-icon {
    right: -48px;
    top: -8px;
  }
}
