.rates {
  text-transform: uppercase;
  overflow: auto;
  background-color: @bg-light;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: 50% 0;
}

.rates__table-wrapper {
  padding-top: 91px;
  padding-bottom: 99px;
}

.rates__list {
  border-collapse: collapse;
}

.rates__list-head {
  background-color: @text;
  color: #ffffff;
  font-weight: 600;
}

.rates__item-head {
  position: relative;
  box-sizing: border-box;
  min-width: 278px;
  padding-top: 18px;
  padding-bottom: 21px;
  border-left: 2px solid #e5e5e5;

  &:nth-child(2) {
    border: none;
  }
}

.rates__item-head--hit {
  background-image: url("../../img/bg-hit.svg");
  background-repeat: no-repeat;

  &::before {
    content: "хит";
    position: absolute;
    height: 10px;
    width: 28px;
    top: 20px;
    left: 7px;
    font-size: 14px;
    line-height: 14px;
    transform: rotate(-45deg);
  }
}

.rates__list-body {
  background-color: #ffffff;
}

.rates__data {
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-top: none;
}

.rates__empty {
  min-width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
}

.rates__item-head p {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
}

.rates-yes {
  display: block;
  position: absolute;
  right: 15px;
  top: 19px;
  width: 34px;
  height: auto;
  fill: #3dc644;
}

.rates-no {
  display: block;
  position: absolute;
  width: 40px;
  height: auto;
  top: 14px;
  right: 12px;
  fill: #f25b26;
}

@media (min-width: @tablet-width) {
  .rates__table-wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 71px;
  }

  .rates__item-head {
    font-size: 16px;
    min-width: 0;
    padding-top: 12px;
    padding-bottom: 7px;
  }

  .rates__item-head p {
    font-size: 18px;
    margin-top: 0;
  }

  .rates__data {
    font-size: 0;
    line-height: 0;
    min-width: 154px;
    padding: 7px 15px;
  }

  .rates__empty {
    min-width: 154px;
    padding: 22px 15px;
    border: 2px solid #e5e5e5;
    font-size: 14px;
    text-transform: none;

    &--head {
      background-color: #f2f2f2;
      border: none;
      border-bottom: 2px solid #e5e5e5;
    }
  }

  .rates-yes {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .rates-no {
    position: static;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .rates {
    padding-top: 65px;
  }

  .rates__table-wrapper {
    width: 940px;
    padding-top: 82px;
    padding-bottom: 97px;
  }

  .rates__item-head {
    font-size: 18px;
    line-height: 32px;
    padding-top: 14px;
    padding-bottom: 19px;
  }

  .rates__item-head p {
    font-size: 24px;
  }

  .rates__empty {
    font-size: 18px;
  }

  .rates__data {
    min-width: 235px;
    padding: 19px 21px;
  }
}
