.rates__list {
  border-collapse: collapse;
}

.rates__row {
  color: @text;
  &--head {
    background-color: @text;
    color: #ffffff;
  }
}

.rates__data {
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  padding: 22px;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;;
  border-left: 2px solid #e5e5e5;
  &--head {
    font-weight: 600;
  }

  &--light {
    font-weight: 300;
  }
}
