.reviews {
  padding: 22px 0;
  padding-top: 42px;
  line-height: 30px;
  text-align: center;
}

.reviews__list {
  .width-mob();
}

.reviews__item {
  position: absolute;
  &--current {
    position: static;
    .width-mob();
  }
}

.reviews__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  display: inline-block;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 600;
  color: #000000;
}

.reviews__author-info {
  display: none;
}

.reviews__text {
  font-size: 14px;
  margin: 0;
}

.reviews__arrow {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 66px;
  }

  .reviews__list {
    width: 620px;
    margin: 0 auto;
  }

  .reviews__item {
    width: 620px;
    display: flex;
    flex-direction: column;
  }

  .reviews__author-wrapper {
    order: 1;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 20px;
  }

  .reviews__author-info {
    display: block;
    margin: 0;
    font-size: 14px;
  }

  .reviews__text {
    font-size: 18px;
    order: 0;
    padding-top: 5px;
    padding-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 414px;
    padding-bottom: 0;
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
  }

  .reviews__list {
    position: relative;
    width: 940px;
    padding-top: 185px;
    padding-bottom: 8px;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icon-quotes.svg");
      background-repeat: no-repeat;
      width: 80px;
      height: 65px;
      top: 71px;
      left: 434px;
    }
  }

  .reviews__item {
    width: 940px;
    margin: 0 auto;
  }

  .reviews__text {
    padding-top: 0;
    width: 695px;
    margin: 0 auto;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-info {
    font-size: 18px;
  }

  .reviews__arrow {
    display: block;
    position: absolute;
    top: 213px;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
  }
}
