.site-list {
  .reset-list();
  text-align: center;
}

.site-list__item {
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101;
}

.site-list__item-link {
  padding: 18px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 650px;
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    border: none;
    text-transform: none;
  }
}
