.site-list {
  .width-mob();
  .reset-list();
  .font();
  text-align: center;
}

.site-list__item {
  background-color: @text;
  text-transform: uppercase;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101;
}

.site-list__item-link {
  padding: 18px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .site-list {
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin: 0 auto;
  }
}
