.wall {
  width: 320px;
  margin: 0 auto;
  min-height: 237px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  &--main {
    min-height: 396px;
    padding-top: 111px;
    padding-bottom: 0;
  }
}

.wall__name {
  .font();
  margin: 0;
  font-size: 24px;
  font-weight: 300; //почему-то не реагирует;
  color: #ffffff;
}
